# Set this to be the domain of your website in production
# Example: "https://sky.shiiyu.moe"
ORIGIN="http://localhost:5173"
PUBLIC_ORIGIN=$ORIGIN

PUBLIC_DISCORD_INVITE="https://discord.gg/"
PUBLIC_PATREON="https://www.patreon.com/"
PUBLIC_COMMIT_HASH=""

ADDRESS_HEADER="CF-Connecting-IP"

# Sentry.io
PUBLIC_SENTRY_DSN=""
PUBLIC_SENTRY_HOST=""
PUBLIC_SENTRY_PROJECT_ID=""

# GO API
PUBLIC_API_URL="http://localhost:8080/api/"
PUBLIC_SERVER_API_URL="http://localhost:8080/api/" # If you're using docker, set this to the name of the backend container, e.g. http://skycrypt-backend-1:8080/api/
SERVER_API_TOKEN="" # Must match the token in the backend config

# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/skycrypt_frontend"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# Discord OAuth
# https://www.better-auth.com/docs/authentication/discord
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
# MC-ID OAuth
# https://www.better-auth.com/docs/authentication/other-social-providers
# https://mc-id.com
MC_ID_CLIENT_ID=""
MC_ID_CLIENT_SECRET=""
# Patreon API
# https://www.patreon.com/portal/registration/register-clients
PATREON_CLIENT_ID=""
PATREON_CLIENT_SECRET=""

# Payload CMS
PUBLIC_CMS_URL="https://cms.shiiyu.moe"
SERVER_CMS_API_URL="https://cms.shiiyu.moe" # If you're using docker, set this to the name of the CMS container
CMS_API_TOKEN="" # Users API Key generated in CMS admin (Users → API Key tab)
CMS_PREVIEW_TOKEN="" # Must match CMS_PREVIEW_TOKEN in SkyCrypt-CMS .env

# Umami Analytics
PUBLIC_UMAMI_WEBSITE_ID=""
PUBLIC_UMAMI_SCRIPT_URL=""
PUBLIC_UMAMI_RECORDER_URL=""
PUBLIC_UMAMI_HOST_URL=""
PUBLIC_UMAMI_ENABLE_HEATMAPS="false"